<h1>Introduction</h1>
Zuber something something

Importing necessary libraries

In [6]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from scipy import stats as st
from math import factorial as ft 
import plotly.express as px

Import files into dataframes

In [7]:

zuber_company_data = pd.read_csv('/Users/leahdeyoung/Desktop/GitHub/zuber-practicum/moved_project_sql_result_01.csv', encoding = "utf-8")
zuber_dropoff_data = pd.read_csv('/Users/leahdeyoung/Desktop/GitHub/zuber-practicum/moved_project_sql_result_04.csv', encoding = "utf-8")
zuber_rides_data = pd.read_csv('/Users/leahdeyoung/Desktop/GitHub/zuber-practicum/moved_project_sql_result_07.csv', encoding = "utf-8")

Display first dataframe and info

In [8]:
display(zuber_company_data.head())
zuber_company_data.info()

                      company_name  trips_amount
0                        Flash Cab         19558
1        Taxi Affiliation Services         11422
2                 Medallion Leasin         10367
3                       Yellow Cab          9888
4  Taxi Affiliation Service Yellow          9299

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_name  64 non-null     object
 1   trips_amount  64 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

Display second dataframe and info

In [9]:
display(zuber_dropoff_data.head())
zuber_dropoff_data.info()

  dropoff_location_name  average_trips
0                  Loop   10727.466667
1           River North    9523.666667
2         Streeterville    6664.666667
3             West Loop    5163.666667
4                O'Hare    2546.900000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   dropoff_location_name  94 non-null     object
 1   average_trips          94 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.6+ KB

Display third dataframe and info

In [10]:
display(zuber_rides_data.head())
zuber_rides_data.info()

              start_ts weather_conditions  duration_seconds
0  2017-11-25 16:00:00               Good            2410.0
1  2017-11-25 14:00:00               Good            1920.0
2  2017-11-25 12:00:00               Good            1543.0
3  2017-11-04 10:00:00               Good            2512.0
4  2017-11-11 07:00:00               Good            1440.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   start_ts            1068 non-null   object
 1   weather_conditions  1068 non-null   object
 2   duration_seconds    1068 non-null   float64
dtypes: float64(1), object(2)
memory usage: 25.2+ KB

<h1>Data Pre-Processing</h1>

<h2>Taxi Company Data</h2>

Check for duplicate rows

In [11]:
print(zuber_company_data.duplicated().sum())

0

In [26]:
print(zuber_company_data.duplicated(subset=['company_name', 'trips_amount']).sum())
#print(zuber_company_data['company_name'].value_counts())
#print(zuber_company_data['company_name'].unique())
zuber_company_data['company_name_lowercase'] = zuber_company_data['company_name'].str.lower()
#print(zuber_company_data['company_name'].duplicated().sum())
print(zuber_company_data['company_name_lowercase'].value_counts())
print(zuber_company_data['company_name_lowercase'].unique())
print(zuber_company_data.duplicated(subset=['company_name_lowercase', 'trips_amount']).sum())
zuber_company_data.drop(['company_name_lowercase'], axis=1, inplace=True)

0
flash cab                      1
taxi affiliation services      1
norshore cab                   1
6742 - 83735 tasha ride inc    1
3591 - 63480 chuks cab         1
                              ..
gold coast taxi                1
service taxi association       1
5 star taxi                    1
303 taxi                       1
3556 - 36214 rc andrews cab    1
Name: company_name_lowercase, Length: 64, dtype: int64
['flash cab' 'taxi affiliation services' 'medallion leasin' 'yellow cab'
 'taxi affiliation service yellow' 'chicago carriage cab corp'
 'city service' 'sun taxi' 'star north management llc'
 'blue ribbon taxi association inc.' 'choice taxi association'
 'globe taxi' 'dispatch taxi affiliation' 'nova taxi affiliation llc'
 'patriot taxi dba peace taxi associat' 'checker taxi affiliation'
 'blue diamond' 'chicago medallion management' '24 seven taxi'
 'chicago medallion leasing inc' 'checker taxi' 'american united'
 'chicago independents' 'koam taxi association' 'chicago taxicab'
 'top cab affiliation' 'gold coast taxi' 'service taxi association'
 '5 star taxi' '303 taxi' 'setare inc' 'american united taxi affiliation'
 'leonard cab co' 'metro jet taxi a' 'norshore cab'
 '6742 - 83735 tasha ride inc' '3591 - 63480 chuks cab'
 '1469 - 64126 omar jada' '6743 - 78771 luhak corp'
 '0118 - 42111 godfrey s.awir' '6574 - babylon express inc.'
 'chicago star taxicab' '1085 - 72312 n and w cab co'
 '2809 - 95474 c & d cab co inc.' '2092 - 61288 sbeih company'
 '3011 - 66308 jbl cab inc.' '3620 - 52292 david k. cab corp.'
 '4615 - 83503 tyrone henderson' '3623 - 72222 arrington enterprises'
 '5074 - 54002 ahzmi inc' '2823 - 73307 lee express inc'
 '4623 - 27290 jay kim' '3721 - santamaria express, alvaro santamaria'
 '5006 - 39261 salifu bawa' '2192 - 73487 zeymane corp'
 '6057 - 24657 richard addo' '5997 - 65283 aw services inc.' 'metro group'
 '5062 - 34841 sam mestas' '4053 - 40193 adwar h. nikola'
 '2733 - 74600 benny jona' '5874 - 73628 sergey cab corp.'
 '2241 - 44667 - felman corp, manuel alonso' '3556 - 36214 rc andrews cab']
0

<h2>Dropoff Data</h2>

Check for duplicates

In [18]:
print(zuber_dropoff_data.duplicated().sum())

0

In [27]:
print(zuber_dropoff_data.duplicated(subset=['dropoff_location_name', 'average_trips']).sum())
#print(zuber_dropoff_data['dropoff_location_name'].value_counts())
#print(zuber_dropoff_data['dropoff_location_name'].unique())
zuber_dropoff_data['location_name_lowercase'] = zuber_dropoff_data['dropoff_location_name'].str.lower()
#print(zuber_dropoff_data['dropoff_location_name'].duplicated().sum())
print(zuber_dropoff_data['location_name_lowercase'].value_counts())
print(zuber_dropoff_data['location_name_lowercase'].unique())
print(zuber_dropoff_data.duplicated(subset=['location_name_lowercase', 'average_trips']).sum())
zuber_dropoff_data.drop(['location_name_lowercase'], axis=1, inplace=True)

0
loop               1
chatham            1
clearing           1
auburn gresham     1
washington park    1
                  ..
albany park        1
wicker park        1
avondale           1
hyde park          1
riverdale          1
Name: location_name_lowercase, Length: 94, dtype: int64
['loop' 'river north' 'streeterville' 'west loop' "o'hare" 'lake view'
 'grant park' 'museum campus' 'gold coast' 'sheffield & depaul'
 'lincoln park' 'east village' 'little italy, uic' 'uptown'
 'near south side' 'garfield ridge' 'logan square' 'edgewater' 'west town'
 'old town' 'rush & division' 'north center' 'lincoln square'
 'rogers park' 'west ridge' 'irving park' 'hyde park' 'avondale'
 'wicker park' 'albany park' 'united center' 'lower west side' 'douglas'
 'portage park' 'humboldt park' 'norwood park' 'kenwood' 'bridgeport'
 'armour square' 'jefferson park' 'bucktown' 'north park' 'garfield park'
 'mckinley park' 'belmont cragin' 'boystown' 'chinatown' 'grand boulevard'
 'austin' 'sauganash,forest glen' 'south shore' 'woodlawn'
 'little village' 'jackson park' 'north lawndale' 'dunning'
 'ukrainian village' 'hermosa' 'englewood' 'chatham' 'new city'
 'grand crossing' 'brighton park' 'andersonville' 'oakland' 'ashburn'
 'washington park' 'auburn gresham' 'clearing' 'roseland' 'wrigleyville'
 'edison park' 'south chicago' 'chicago lawn' 'beverly' 'calumet heights'
 'washington heights' 'archer heights' 'gage park' 'fuller park'
 'west lawn' 'morgan park' 'south deering' 'avalon park' 'west pullman'
 'montclare' 'west elsdon' 'pullman' 'undef' 'mount greenwood' 'hegewisch'
 'burnside' 'east side' 'riverdale']
0

Average trips should be a whole number. This code rounds the average_trips column to a whole number, then converts the column to the int datatype.

In [25]:
zuber_dropoff_data['average_trips'] = round(zuber_dropoff_data['average_trips'], 0)

zuber_dropoff_data['average_trips'] = zuber_dropoff_data['average_trips'].astype('int')

<h2>Rides Data</h2>

Check for duplicates

In [29]:
print(zuber_rides_data.duplicated().sum())
print(zuber_rides_data.duplicated())

197
0       False
1       False
2       False
3       False
4       False
        ...
1063    False
1064    False
1065     True
1066     True
1067    False
Length: 1068, dtype: bool

I am leaving these duplicates based on the way they were calculated in SQL.